.Container {
  text-align: center;
}
.App {
  height: 90vh;
  width: 80vw;
  text-align: center;
  margin: 5vh auto;
  background: #fff;
  display: flex;
  flex-direction: row;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#customBtn {
  display: block;
  background: white;
  color: #444;
  width: 190px;
  height: fit-content;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
.signin {
  color: #272727;
  width: 100%;
  padding: 100px;
  background: #F6F6F6;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
span.icon {
  background: url('https://google-developers.appspot.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
span.buttonText {
  margin: 15px 0;
  display: inline-block;
  padding-right: 42px;
  font-size: 14px;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader{
  margin: auto;
  height: 20%;
}
.loader img{
  height: 50px;
}
/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: null; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F6F6F6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808080; 
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar{
  padding-top: 20px;
  background: #272727;
  display: flex;
  flex-direction: column;
}
.navitems li{
  margin-bottom: 30px;
  font-size: 30px;
  display: block
}
.navitems .avt{
  background: rgb(0, 140, 255);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  top: 10px;
  display: block;
}
.left{
  background: #333333;
  flex: 1;
  max-width: 420px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.left .bot{
  height: 90%;
  background: #333333;
  overflow-y: scroll;
}
.right{
  position: relative;
  display: flex;
  flex: 3;
  flex-direction: column;
  max-width: 55vw;
}
.top{
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  box-sizing: border-box;
  height: 10%;
  min-height: 50px;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
}
.right .top{
  background: #F6F6F6;
}
.top .title{
  padding-top: 5px;
  line-height: 28px;
  position: relative;
  align-content: space-around;

}
.title .avt{
  float: left;
  position: relative;
  bottom: 0;
}

.title .name{
  float: left;
  margin-left: 10px;
  position: relative;
  font-size: 24px;
}
.title .fav{
  cursor: pointer;
  margin-left: 10px;
  float: left;
  position: relative;
  font-size: 28px;
}
.fav:hover{
  color: rgb(0, 140, 255);
}
.fa-star{
  color: rgb(0, 140, 255);
}
.account{
  position: relative;
  margin-right: 15px;
  float: right;
  line-height: 32px;
}

.account .button{
  float: right;
  cursor: pointer;
  border: none;
  background: #f7f7f7;
  color:  rgb(0, 140, 255);
}
.account .avt{
  position: relative;
  bottom: unset;
  cursor: pointer;
}
.right .bot{
  height: 90%;
  background: #fff;
}

.right .bot{
  display: flex;
  flex-direction: column;
}
.search{
  color: #BEBEBE;
  border: none;
  border-radius: 50px;
  background: #272727;
  font-family: Arial, sans-serif;
  height: 30px;
  line-height: 30px;
  padding-right: 1em;
  display: flex;
  flex-direction: row;
  margin: 0 1em;
}
.search .prefix{
  font-size: 18px;
  margin: auto 4px;
}
.search .searchtext{
  background: #272727;
  border: none;
  font-size: 14px;
  width: 50%;
  height: 2em;
  flex: 5;
  border: none;
  color: white;
}
.searchtext:focus{
  border-bottom: none !important;
  box-shadow: none!important;
}
.tag{
  margin: 0;
  background: #333333;
}
.tag .item{
border-bottom: 1px solid rgba(0, 0, 0, .10);
cursor: pointer;
}

.addtag{
  display: none;
}
.tag .item:hover, .inbox .item:hover, .inbox .inboxing {
background: #272727;
}

.texttag{
  margin: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
}
.column {
  float: left;
  width: 29%;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .20);
  padding: 15px;
  margin: 2%;
  background-color: #fff;
}
.column .roomphoto{
  max-width:100%;
  max-height:100%;
  border-radius: 50%;
}

.column h4, .column p{
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
.column h4{
  margin: 10px;
  color: rgb(0, 140, 255);
}
.column .jointext{
  overflow: hidden;
  white-space: nowrap;
  display: block;
  font-size: 18px;
  text-overflow: ellipsis;
}
.row{
  margin-right: 5%;
  margin-left: 5%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(0, 140, 255);
  background: #fff;
  color:  rgb(0, 140, 255); 
}
.join{
  width: 50%;
}
.join:hover{
  background: rgb(0, 140, 255);
  color:  #fff;
}
.messages{
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  background: #fff;
  overflow-y: scroll;
  padding: 6px;
}
.send{
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .10);
  display: flex;
  padding: 6px 20px;
}
#message-box{
  overflow: hidden;
}
.send input[type="file" ]{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}

.send .previewimage img{
  margin: 0 6px;
  max-height: 50px;
  max-width: 100px;
}
.send .previewimage .remove{
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  color: rgb(0, 140, 255);
}
.send .prefix{
  font-size: 24px;
  cursor: pointer;
  margin: auto 0;
}
.send .prefix:hover{
  color: rgb(0, 140, 255);
}
.send .type{
  margin: 6px 12px;
  font-size: 14px;
  border: none;
  color: #272727;
  width: 100%;
  overflow: auto;
}
.send .type:focus{
  border-color: rgb(0, 140, 255) !important;
  box-shadow: none!important;
}
.send .btn-floating{
  background: rgb(0, 140, 255);
  position: relative;
  width: fit-content;
  padding-left: 1em;
  padding-right: 1em;
}
*:focus{
  outline: none;
}
.messages .item{
  padding-left: 10px;
  position: relative;
  width: 100%;
  font-style: normal;
}
.messages .begin{
  margin-top: 12px;
}
.messages .continue{
  margin-top: 4px;
}
.messages .sended
{
  float: right;
}
.content{
  margin-left: 36px;
  overflow: hidden
}
.content img{
  max-width: 55%;
  border: 1px solid rgba(0, 0, 0, .10);
  border-radius: 1.3em;
  margin: 6px 0;
  padding: 4px;
  clear: left;
  float: left;
}
.messages .content p{
  margin-bottom: 0;
}
.content h2{
 font-size: 12px;
 text-align: left;
}

.message{
color: black;
background: #f7f7f7;
font-size: 14px;
border-radius: 1.3em;
text-align: left;
padding: 6px 12px;
width: fit-content; 
max-width: 55%;
word-wrap:break-word;
white-space: pre-line;
}

.from-me .content{
  clear: right;
  margin-right: 14px;
}

.from-me .message{
  background:  rgb(0, 140, 255);
  color: white; 
  clear: right;
  float: right;
}
.from-me img{
  clear: right;
  float: right;
}
.continue h2{
display: none;
}
.avt{
  background: rgb(0, 140, 255);
  border-radius: 100%;
  height: 32px;
  width: 32px;
  max-height: 28px;
  max-width: 28px;
  bottom: 2px;
  position: absolute;
}

.messages .avt{
  left: 6px;
}
.from-me .avt, .from-me h2{
  display: none;
}

.inbox .item{
  cursor: pointer;
  height: 64px;
  position: relative;
  flex: 1;
  min-width: 0;
  display: flex;
  padding-left: 12px;
}

.inbox .avt{
  align-items: center;
  margin-right: 9px;
  height: 50px;
  width: 50px;
  max-height: 50px;
  max-width: 50px;
  left: 6px;
  bottom: 6px;
}

.inbox .content{
  min-width: 0;
  padding: 0 16px 0 0;
  text-align: left;
  margin-left: 56px;
  margin-top: 14px;
  text-overflow: ellipsis;
  position: relative;
}
.inbox .name{
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.inbox .lastmessage{
  min-width: 0;
  overflow: hidden;
  color: #BEBEBE;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lastmessage .fa{
  margin-right: 5px;
}

.online{
  color: #86BB71;
}

